:root {
  --bg: #fff;
  --text: #222;
  --text-on-primary: #222;
  --primary: #ecba21;
  --error: #f28;
  --body-bg-dark: #14234b;
  --body-bg-light: #2a3a66;
  --body-gradient: radial-gradient(
    ellipse at top,
    var(--body-bg-light) 0%,
    var(--body-bg-dark) 75%
  );
}

[data-theme="dark"] {
  --bg: #222;
  --text: #fff;
  --text-on-primary: #222;
  --primary: #ecba21;
  --error: #f28;
  --body-bg-dark: #0a0a0a;
  --body-bg-light: #1a1a1a;
  --body-gradient: radial-gradient(
    ellipse at top,
    var(--body-bg-light) 0%,
    var(--body-bg-dark) 75%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--body-gradient);
  color: var(--text);
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}
