.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.75;
}

.button:disabled {
  opacity: 0.5;
  background-color: lightgray;
  cursor: not-allowed;
}

.primary {
  background-color: var(--primary);
  border: none;
}

.secondary {
  background-color: white;
  border: 2px solid var(--text);
}
