.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  min-height: 7rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid black;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: var(--primary);
}

.radioLabel,
.checkboxLabel {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.inputError {
  border-color: var(--error);
}

.error {
  color: var(--error);
  font-size: 0.75rem;
}

.ratingButton {
  padding: 0.75rem 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 4px;
  background: lightgray;
  cursor: pointer;
  transition: all 0.2s;
}

.ratingButton:hover,
.ratingButtonActive {
  background-color: var(--primary);
}
