.progressContainer {
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
}

.progressContainer.top {
  top: 0;
}

.progressContainer.bottom {
  bottom: 0;
}

.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.progressFill {
  height: 100%;
  background: var(--primary);
  transition: width 1s;
}
